@model Sistema.Models.Estados

@{
    var disabled = Convert.ToBoolean(ViewBag.disabledForm);
    var pageType = Convert.ToString(ViewBag.pageType);
    var modelPais = new Sistema.Models.Paises();
}

@Html.HiddenFor(e => e.idEstado)
<div class="col-md-6">
    @Html.LabelFor(e => e.nmEstado, new { @class = "form-label" })
    @(disabled ?
        @Html.TextBoxFor(model => model.nmEstado, new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled" }) :
        @Html.TextBoxFor(model => model.nmEstado, new { @class = "form-control", maxlength = "150", @placeholder = "" })
        )
    @Html.ValidationMessageFor(model => model.nmEstado, null, new { @class = "help-block" })
</div>


<div class="col-md-6">
    @Html.LabelFor(e => e.idPais, new { @class = "form-label" })
    @(disabled ?
        @Html.TextBoxFor(model => model.idPais, new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled" }) :
        @Html.TextBoxFor(model => model.idPais, new { @class = "form-control number", maxlength = "150", @placeholder = "" })
        )
    @Html.ValidationMessageFor(model => model.idPais, null, new { @class = "help-block" })
</div>

<div class="col-md-4">
    @Html.LabelFor(e => e.flUF, new { @class = "form-label" })
    @(disabled ?
        @Html.TextBoxFor(model => model.flUF, new { @class = "form-control", @disabled = "disabled" }) :
        @Html.TextBoxFor(model => model.flUF, new { @class = "form-control", @placeholder = "" })
        )
    @Html.ValidationMessageFor(model => model.flUF, null, new { @class = "help-block" })
</div>

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicionar País</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Paises", FormMethod.Post, new { @class = "row g-3" }))
                {
                    @Html.Partial("Form", modelPais)                    
                }
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCloseModalAdd" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="btnAddPais" class="btn btn-success">Salvar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicionar País</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ListaPaises", "Paises", new { @class = "row g-3" }))
                {
                    @Html.Partial("Form")
                }
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCloseModalAdd" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="btnAddPais" class="btn btn-success">Salvar</button>
            </div>
        </div>
    </div>
</div>