@model IEnumerable<Sistema.Models.Estados>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nmEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idPais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flUF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtUltAlteracao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nmEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idPais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flUF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtUltAlteracao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idEstado">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idEstado">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idEstado">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
