@model IEnumerable<Sistema.Models.ContasReceber>

@{
    ViewData["Title"] = "Index";
}
<table id="tbCtasReceber" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrParcela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtVencimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vlParcela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idFormaPgto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idCliente)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idContasReceber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nrParcela)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dtVencimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vlParcela)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dsFormaPgto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nmCliente)
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/js/Scripts/ContasReceber/Index.js")"></script>
}