@model Sistema.Models.CondicaoPgto

@{
    var disabled = Convert.ToBoolean(ViewBag.disabledForm);
    var pageType = Convert.ToString(ViewBag.pageType);
}

@Html.HiddenFor(e => e.idCondicaoPgto)

<div class="col-md-6">
    @Html.LabelFor(e => e.dsCondicaoPgto, new { @class = "form-label" })
    @(disabled ?
        @Html.TextBoxFor(model => model.dsCondicaoPgto, new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled" }) :
        @Html.TextBoxFor(model => model.dsCondicaoPgto, new { @class = "form-control", maxlength = "150", @placeholder = "ex.: 30,60,90" })
        )
    @Html.ValidationMessageFor(model => model.dsCondicaoPgto, null, new { @class = "help-block" })
</div>

<div class="col-md-6">
</div>

<div class="col-md-4">
    @Html.LabelFor(e => e.vlMulta, new { @class = "form-label" })
    @(disabled ?
        @Html.TextBoxFor(model => model.vlMulta, new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled" }) :
        @Html.TextBoxFor(model => model.vlMulta, new { @class = "form-control", maxlength = "150", @placeholder = "%" })
        )
    @Html.ValidationMessageFor(model => model.vlMulta, null, new { @class = "help-block" })
</div>
<div class="col-md-4">
    @Html.LabelFor(e => e.vlDesconto, new { @class = "form-label" })
    @(disabled ?
        @Html.TextBoxFor(model => model.vlDesconto, new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled" }) :
        @Html.TextBoxFor(model => model.vlDesconto, new { @class = "form-control", maxlength = "150", @placeholder = "%" })
        )
    @Html.ValidationMessageFor(model => model.vlDesconto, null, new { @class = "help-block" })
</div>
<div class="col-md-4">
    @Html.LabelFor(e => e.vlJuros, new { @class = "form-label" })
    @(disabled ?
        @Html.TextBoxFor(model => model.vlJuros, new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled" }) :
        @Html.TextBoxFor(model => model.vlJuros, new { @class = "form-control", maxlength = "150", @placeholder = "%" })
        )
    @Html.ValidationMessageFor(model => model.vlJuros, null, new { @class = "help-block" })
</div>

<hr />

<div class="col-md-4">
    @Html.LabelFor(e => e.idFormaPgto, new { @class = "form-label" })
    <div class="input-group mb-3">
        @(disabled ?
            @Html.DropDownListFor(model => model.idFormaPgto, Model.ListaFormaPgto, new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled" }) :
            @Html.DropDownListFor(model => model.idFormaPgto, Model.ListaFormaPgto, new { @class = "form-control" })
            )
        @if (pageType == "Create" || pageType == "Edit")
        {
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" id="btnModalFormaPgto" data-bs-target="#modalFormaPgto"><i class="fas fa-search"></i></button>
        }
    </div>
</div>

<div class="col-md-4">
    @Html.LabelFor(e => e.qtDias, new { @class = "form-label" })
    @(disabled ?
        @Html.TextBoxFor(model => model.qtDias, new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled" }) :
        @Html.TextBoxFor(model => model.qtDias, new { @class = "form-control", maxlength = "150", @placeholder = "" })
        )
    @Html.ValidationMessageFor(model => model.qtDias, null, new { @class = "help-block" })
</div>

<div class="col-md-4">
    @Html.LabelFor(e => e.txPercentual, new { @class = "form-label" })
    @(disabled ?
        @Html.TextBoxFor(model => model.txPercentual, new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled" }) :
        @Html.TextBoxFor(model => model.txPercentual, new { @class = "form-control", maxlength = "150", @placeholder = "%" })
        )
    @Html.ValidationMessageFor(model => model.txPercentual, null, new { @class = "help-block" })
</div>

<div class="col-md-12">

</div>

@Html.HiddenFor(model => model.jsItens)

<div class="bs-callout bs-callout-primary row g-3">
    <button class="btn btn-primary" disabled="@disabled" type="button" id="btnAdcParcela">Adicionar Parcela</button>

    <table id="tbParcelas" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th width="10%">Nrº Parcela</th>
                <th width="10%">Dias</th>
                <th width="10%">Percentual</th>
                <th width="40%">Forma de Pgto</th>
                <th width="5%"></th>
            </tr>
        </thead>
    </table>
    @Html.ValidationMessageFor(model => model.ListCondicao, null, new { @class = "text-danger" })
</div>

<div class="modal fade" tabindex="-1" id="modalFormaPgto">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="txtTituloModal">Lista Forma de Pgto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!--Forma de Pgto-->
            <div class="modal-body SelecionaFormaPgto" style="display: none">
                <partial name="~/Views/Shared/FormaPgto/SelecionaFormaPgto.cshtml"></partial>
            </div>
            <div class="modal-footer SelecionaFormaPgto" style="display: none">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnFechaModalFormaPgto">Fechar</button>
                <button type="button" class="btn btn-default" id="btnAddFormaPgto">Adicionar Forma</button>
            </div>

            <div class="modal-body AddFormaPgto" style="display: none">
                <partial name="~/Views/Shared/FormaPgto/AddFormaPgto.cshtml"></partial>
            </div>
            <div class="modal-footer AddFormaPgto" style="display: none">
                <button type="button" class="btn btn-secondary" id="btnEscondeAddFormaPgto">Fechar</button>
                <button type="button" class="btn btn-success" id="btnSalvarAddFormaPgto">Salvar</button>
            </div>
        </div>
    </div>
</div>