@model IEnumerable<Sistema.Models.ContasPagar>

@{
    ViewData["Title"] = "Index";
}
<table id="tbCtasPagar" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idFornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrModelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrNota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrParcela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtEmissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idFormaPgto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vlParcela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vlPago)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nmFornecedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nrModelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nrSerie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nrNota)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nrParcela)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dtEmissao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dsFormaPgto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vlParcela)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vlPago)
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/js/Scripts/ContasPagar/Index.js")"></script>
}