@model Sistema.Models.Compras

@{
    var disabled = Convert.ToBoolean(ViewBag.disabledForm);
    var pageType = Convert.ToString(ViewBag.pageType);
    var style = pageType == "Create" || pageType == "Edit" ? "display: none" : "";
}

@if (pageType != "Create")
{
    <div class="row g-3">
        <div class="col-md-3">
            @Html.LabelFor(e => e.flSituacao, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.flSituacao, new { @class = "form-control", autofocus = "autofocus", disabled = "disabled" })
        </div>
    </div>
}

<div class="CabecalhoNota row g-3">
    <div class="col-md-2">
        @Html.LabelFor(e => e.nrModelo, new { @class = "form-label" })
        @(disabled ?
            @Html.TextBoxFor(model => model.nrModelo, new { @class = "form-control", autofocus = "autofocus", @readonly = "readonly", @style = "background-color: #e9ecef" }) :
            @Html.TextBoxFor(model => model.nrModelo, new { @class = "form-control", maxlength = "150", @placeholder = "" })
            )
        @Html.ValidationMessageFor(model => model.nrModelo, null, new { @class = "help-block" })
    </div>

    <div class="col-md-2">
        @Html.LabelFor(e => e.nrSerie, new { @class = "form-label" })
        @(disabled ?
            @Html.TextBoxFor(model => model.nrSerie, new { @class = "form-control", autofocus = "autofocus", @readonly = "readonly", @style = "background-color: #e9ecef" }) :
            @Html.TextBoxFor(model => model.nrSerie, new { @class = "form-control", maxlength = "150", @placeholder = "" })
            )
        @Html.ValidationMessageFor(model => model.nrSerie, null, new { @class = "help-block" })
    </div>

    <div class="col-md-2">
        @Html.LabelFor(e => e.nrNota, new { @class = "form-label" })
        @(disabled ?
            @Html.TextBoxFor(model => model.nrNota, new { @class = "form-control", autofocus = "autofocus", @readonly = "readonly", @style = "background-color: #e9ecef" }) :
            @Html.TextBoxFor(model => model.nrNota, new { @class = "form-control", maxlength = "150", @placeholder = "" })
            )
        @Html.ValidationMessageFor(model => model.nrNota, null, new { @class = "help-block" })
    </div>

    <div class="col-md-5">
        @Html.LabelFor(e => e.idFornecedor, new { @class = "form-label" })
        <div class="input-group mb-3">
            @(disabled ?
                @Html.TextBoxFor(model => model.idFornecedor, new { @class = "form-control", autofocus = "autofocus", @readonly = "readonly", @style = "background-color: #e9ecef" }) :
                @Html.DropDownListFor(model => model.idFornecedor, Model.ListFornecedores, new { @class = "form-control" })
                )
            @if (pageType == "Create" || pageType == "Edit")
            {
                <button class="btn btn-outline-secondary" id="btnAbreModalFornecedor" type="button" data-bs-toggle="modal" data-bs-target="#modalFornecedor"><i class="fas fa-search"></i></button>
            }
        </div>
        @Html.ValidationMessageFor(model => model.idFornecedor, null, new { @class = "help-block" })
    </div>
    @if (pageType == "Create" || pageType == "Edit")
    {
        <div class="col-md-1">
            <button type="button" id="btnValidaNF" class="btn btn-primary" style="margin-top: 32px; white-space: nowrap"> Validar NF </button>
            <button type="button" id="btnCancelaNF" class="btn btn-danger" style="margin-top: 32px; white-space: nowrap; display: none;"> Cancelar </button>
        </div>
    }
</div>

<br />
<hr />
<br />


<div class="Corpo row g-3" style="@style">
    <div class="col-md-4">
        @Html.LabelFor(e => e.dtEmissao, new { @class = "form-label" })
        @(disabled ?
            @Html.TextBoxFor(model => model.dtEmissao, new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled" }) :
            @Html.TextBoxFor(model => model.dtEmissao, "{0:dd/MM/yyyy}", new { @class = "form-control", maxlength = "150", @placeholder = "" })
            )
        @Html.ValidationMessageFor(model => model.dtEmissao, null, new { @class = "help-block" })
    </div>

    <div class="col-md-4">
        @Html.LabelFor(e => e.dtEntrega, new { @class = "form-label" })
        @(disabled ?
            @Html.TextBoxFor(model => model.dtEntrega, new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled" }) :
            @Html.TextBoxFor(model => model.dtEntrega, "{0:dd/MM/yyyy}", new { @class = "form-control", maxlength = "150", @placeholder = "" })
            )
        @Html.ValidationMessageFor(model => model.dtEntrega, null, new { @class = "help-block" })
    </div>

    <div class="col-md-4">
        @Html.LabelFor(e => e.chaveNFe, new { @class = "form-label" })
        @(disabled ?
            @Html.TextBoxFor(model => model.chaveNFe, new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled" }) :
            @Html.TextBoxFor(model => model.chaveNFe, new { @class = "form-control", maxlength = "150", @placeholder = "" })
            )
        @Html.ValidationMessageFor(model => model.chaveNFe, null, new { @class = "help-block" })
    </div>

    <div class="bs-callout bs-callout-primary row g-3">

        @if (pageType == "Create" || pageType == "Edit")
        {
            <button class="btn btn-primary" disabled="@disabled" type="button" id="btnAdcProdutos" data-bs-toggle="modal" data-bs-target="#modalProdutos">Adicionar Produto</button>            
        }


        @Html.HiddenFor(model => model.jsProdutos)
        <table id="listaCompra" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>idProduto</th>
                    <th width="40%">Produto</th>
                    <th>idUnidade</th>
                    <th width="10%">Unidade</th>
                    <th width="10%">Quant</th>
                    <th width="10%">Vl. compra</th>
                    <th width="10%">Vl. venda</th>
                    <th width="10%">Desconto</th>
                    <th width="10%">Total</th>
                    <th width="5%"></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td id="ftp" colspan="9" style="text-align:right"></td>
                </tr>
            </tfoot>
        </table>
        @Html.Hidden("idUnidade")
        @Html.Hidden("dsUnidade")
        @Html.Hidden("vlVenda")
        <hr />        
    </div>
</div>

<div class="row g-3 divfinalizar" style="@style">

    <div class="col-md-12">
        @Html.LabelFor(e => e.observacao, new { @class = "form-label" })
        @(disabled ?
            @Html.TextBoxFor(model => model.observacao, new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled" }) :
            @Html.TextBoxFor(model => model.observacao, new { @class = "form-control", maxlength = "150", @placeholder = "" })
            )
        @Html.ValidationMessageFor(model => model.observacao, null, new { @class = "help-block" })
    </div>

    <div class="col-md-3">
        @Html.LabelFor(e => e.vlFrete, new { @class = "form-label" })
        @(disabled ?
            @Html.TextBoxFor(model => model.vlFrete, new { @class = "form-control", style = "text-align: right", autofocus = "autofocus", @disabled = "disabled" }) :
            @Html.TextBoxFor(model => model.vlFrete, new { @class = "form-control", style = "text-align: right", maxlength = "150", @placeholder = "" })
            )
        @Html.ValidationMessageFor(model => model.vlFrete, null, new { @class = "help-block" })
    </div>

    <div class="col-md-3">
        @Html.LabelFor(e => e.vlSeguro, new { @class = "form-label" })
        @(disabled ?
            @Html.TextBoxFor(model => model.vlSeguro, new { @class = "form-control", style = "text-align: right", autofocus = "autofocus", @disabled = "disabled" }) :
            @Html.TextBoxFor(model => model.vlSeguro, new { @class = "form-control", style = "text-align: right", maxlength = "150", @placeholder = "" })
            )
        @Html.ValidationMessageFor(model => model.vlSeguro, null, new { @class = "help-block" })
    </div>

    <div class="col-md-3">
        @Html.LabelFor(e => e.vlDespesas, new { @class = "form-label" })
        @(disabled ?
            @Html.TextBoxFor(model => model.vlDespesas, new { @class = "form-control", style = "text-align: right", autofocus = "autofocus", @disabled = "disabled" }) :
            @Html.TextBoxFor(model => model.vlDespesas, new { @class = "form-control", style = "text-align: right", maxlength = "150", @placeholder = "" })
            )
        @Html.ValidationMessageFor(model => model.vlDespesas, null, new { @class = "help-block" })
    </div>

    <div class="col-md-3">
        @Html.LabelFor(e => e.vlTotal, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.vlTotal, new { @class = "form-control", style = "text-align: right", autofocus = "autofocus", @readonly = true })
    </div>

    <br />
    <hr />
    <br />

    <div class="col-md-3">
        @Html.LabelFor(e => e.idCondicaoPgto, new { @class = "form-label" })
        @Html.HiddenFor(e => e.idCondicaoPgto)
        @Html.Hidden("CondicaoPagamento_txJuros")
        @Html.Hidden("CondicaoPagamento_txMulta")
        @Html.Hidden("CondicaoPagamento_txDesconto")
        @Html.TextBoxFor(model => model.dsCondicaoPgto, new { @class = "form-control", autofocus = "autofocus", @readonly = true })
    </div>
    @if (pageType == "Create" || pageType == "Edit")
    {
        <button class="btn btn-primary" disabled="disabled" type="button" id="btnGeraParcelas">Gerar Parcelas</button>
    }    

    <div id="divParcelas">
        @Html.HiddenFor(model => model.jsParcelas)
        <table id="tbParcelas" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th width="10%">Nº parcela</th>
                    <th width="15%">Valor Parcela</th>
                    <th width="10%">Vencimento</th>
                    <th></th>
                    <th width="55%">Forma de pagamento</th>
                </tr>
            </thead>
        </table>
    </div>

    @if (pageType != "Create")
    {
        <div class="col-md-4">
            @Html.LabelFor(e => e.dtCadastro, new { @class = "form-label" })
            @(disabled ?
                @Html.TextBoxFor(model => model.dtCadastro, new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled" }) :
                @Html.TextBoxFor(model => model.dtCadastro, "{0:dd/MM/yyyy}", new { @class = "form-control", maxlength = "150", @placeholder = "" })
                )
            @Html.ValidationMessageFor(model => model.dtCadastro, null, new { @class = "help-block" })
        </div>
    }
</div>

<div class="modal fade" tabindex="-1" id="modalProdutos">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="txtTituloModal">Produtos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body addProduto">
                <div class="row g-3">
                    <div class="col-md-6">
                        @Html.Label("dsProduto", "Produto", new { @class = "form-label" })
                        <div class="input-group mb-3">
                            @(disabled ?
                                Html.TextBox("idProduto", new { @class = "form-control", @disabled = "disabled" }) :
                                @Html.DropDownList("idProduto", Model.ListProdutos, new { @class = "form-control" })
                            )
                            @if (disabled)
                            {
                                <button class="btn btn-outline-secondary" type="button" id="btnMostraSelecionarProdutos" disabled="disabled"><i class="fas fa-search"></i></button>
                            }
                            else
                            {
                                <button class="btn btn-outline-secondary" type="button" id="btnMostraSelecionarProdutos"><i class="fas fa-search"></i></button>                                
                            }
                        </div>
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Produto_qtdProduto, new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.Produto_qtdProduto, new { @class = "form-control", @style = "text-align: right" })
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Produto_vlVenda, new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.Produto_vlVenda, new { @class = "form-control", @style = "text-align: right" })
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Produto_txDesconto, new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.Produto_txDesconto, new { @class = "form-control", @style = "text-align: right" })
                    </div>
                </div>
            </div>

            <div class="modal-footer addProduto">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnFechaProd">Fechar</button>
                <button type="button" class="btn btn-success" id="btnConfirmaProd">Salvar</button>
            </div>

            <div class="modal-body SelecionaProduto" style="display: none">
                <partial name="~/Views/Shared/Produtos/SelecionaProduto.cshtml"></partial>
            </div>
            <div class="modal-footer SelecionaProduto" style="display: none">
                <button type="button" class="btn btn-secondary" id="btnFechaSelecProd">Fechar</button>
                <button type="button" class="btn btn-success" id="btnSelecionaProd">Selecionar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalCondicoes">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="txtTituloModal">Lista Condições Pgto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!--Condições Pgto-->
            <div class="modal-body SelecionaCondicoes" style="display: none">
                <partial name="~/Views/Shared/CondicaoPgto/SelecionaCondicaoPgto.cshtml"></partial>
            </div>
            <div class="modal-footer SelecionaCondicoes" style="display: none">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnFechaModalCondicao">Fechar</button>
                <button type="button" class="btn btn-default" id="btnAddCondicao">Adicionar Condição</button>
            </div>

            <div class="modal-body AddCondicoes" style="display: none">
                <partial name="~/Views/Shared/CondicaoPgto/AddCondicaoPgto.cshtml"></partial>
            </div>
            <div class="modal-footer AddCondicoes" style="display: none">
                <button type="button" class="btn btn-secondary" id="btnEscondeAddCondicao">Fechar</button>
                <button type="button" class="btn btn-success" id="btnSalvarAddCondicao">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- FORNECEDORES -->
<div class="modal fade" tabindex="-1" id="modalFornecedor">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Selecionar Fornecedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- SELECIONAR -->
            <div class="modal-body SelecionaFornecedor" style="display: none">
                <partial name="~/Views/Shared/Fornecedores/SelecionaFornecedor.cshtml"></partial>
            </div>

            <div class="modal-footer SelecionaFornecedor" style="display: none">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnFecharModalFornecedor">Fechar</button>
            </div>
        </div>
    </div>
</div>