@model IEnumerable<Sistema.Models.Compras>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<p style="text-align: right">
    <a asp-action="Create">Adicionar</a>
</p>
<table id="tbCompra" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nrModelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrNota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idFornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtEmissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtEntrega)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nrModelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nrSerie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nrNota)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nmFornecedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dtEmissao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dtCadastro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dtEntrega)
                </td>
                <td style="text-align: center; width: 200px">
                    <a asp-action="Edit" asp-route-id="@item"><i class="btn btn-warning btn-sm fa fa-edit"></i></a>
                    @Html.ActionLink("", "Details", new { idFornecedor = item.idFornecedor, nrModelo = item.nrModelo, nrSerie = item.nrSerie, nrNota = item.nrNota }, new { @class = "btn btn-success btn-sm fa fa-eye", @title = "Visualizar" })
                    @Html.ActionLink("", "Delete", new { idFornecedor = item.idFornecedor, nrModelo = item.nrModelo, nrSerie = item.nrSerie, nrNota = item.nrNota }, new { @class = "btn btn-danger btn-sm fa fa-trash", @title = "Excluir" })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/js/Scripts/Compras/Index.js")"></script>
}