@model Sistema.Models.Estados

@{
    var disabled = Convert.ToBoolean(ViewBag.disabledForm);
    var pageType = Convert.ToString(ViewBag.pageType);
}

@Html.HiddenFor(e => e.idEstado)
<div class="col-md-6">
    @Html.LabelFor(e => e.nmEstado, new { @class = "form-label" })
    @(disabled ?
        @Html.TextBoxFor(model => model.nmEstado, new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled" }) :
        @Html.TextBoxFor(model => model.nmEstado, new { @class = "form-control", maxlength = "150", @placeholder = "" })
        )
    @Html.ValidationMessageFor(model => model.nmEstado, null, new { @class = "help-block" })
</div>


<div class="col-md-6">
    @Html.Label("nmPais", "Pais", new { @class = "form-label" })
    <div class="input-group mb-3">
        @(disabled ?
            @Html.DropDownListFor(model => model.idPais, Model.ListaPaises, new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled" }) :
            @Html.DropDownListFor(model => model.idPais, Model.ListaPaises, new { @class = "form-control" })
            )
        @if (pageType == "Create" || pageType == "Edit")
        {
            <button class="btn btn-outline-secondary" type="button" id="btnAbreModalListaPaises" data-bs-toggle="modal" data-bs-target="#modal"><i class="fas fa-search"></i></button>
        }
    </div>
    @Html.ValidationMessageFor(model => model.idPais, null, new { @class = "help-block" })
</div>

<div class="col-md-4">
    @Html.LabelFor(e => e.flUF, new { @class = "form-label" })
    @(disabled ?
        @Html.TextBoxFor(model => model.flUF, new { @class = "form-control", @disabled = "disabled" }) :
        @Html.TextBoxFor(model => model.flUF, new { @class = "form-control", @placeholder = "" })
        )
    @Html.ValidationMessageFor(model => model.flUF, null, new { @class = "help-block" })
</div>

<div class="modal fade" tabindex="-1" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="txtTituloModal">Lista Países</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body SelecionaPais" style="display: none">
                <partial name="~/Views/Shared/Paises/SelecionaPais.cshtml"></partial>
            </div>
            <div class="modal-footer SelecionaPais" style="display: none">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnFecharModal">Fechar</button>
                <button type="button" class="btn btn-default" id="btnAddPais">Adicionar País</button>
            </div>


            <div class="modal-body AddPais" style="display: none">
                <partial name="~/Views/Shared/Paises/AddPaises.cshtml"></partial>
            </div>
            <div class="modal-footer AddPais" style="display: none">
                <button type="button" class="btn btn-secondary" id="btnFecharModalAddPais">Fechar</button>
                <button type="button" class="btn btn-success" id="btnSalvarAddPais">Salvar</button>
            </div>
        </div>
    </div>
</div>