@model Sistema.Models.Cidades

@{
    var disabled = Convert.ToBoolean(ViewBag.disabledForm);
    var pageType = Convert.ToString(ViewBag.pageType);
}

@Html.HiddenFor(e => e.idCidade)
<div class="col-md-6">
    @Html.LabelFor(e => e.nmCidade, new { @class = "form-label" })
    @(disabled ?
        @Html.TextBoxFor(model => model.nmCidade, new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled" }) :
        @Html.TextBoxFor(model => model.nmCidade, new { @class = "form-control", maxlength = "150", @placeholder = "" })
        )
    @Html.ValidationMessageFor(model => model.nmCidade, null, new { @class = "help-block" })
</div>


<div class="col-md-6">
    @Html.Label("nmEstado", "Estado", new { @class = "form-label" })
    <div class="input-group mb-3">
        @(disabled ?
            @Html.DropDownListFor(model => model.idEstado, Model.ListaEstados, new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled" }) :
            @Html.DropDownListFor(model => model.idEstado, Model.ListaEstados, new { @class = "form-control" })
            )
        @if (pageType == "Create" || pageType == "Edit")
        {
            <button class="btn btn-outline-secondary" type="button" id="btnAbreModal" data-bs-toggle="modal" data-bs-target="#modal"><i class="fas fa-search"></i></button>
        }
    </div>
    @Html.ValidationMessageFor(model => model.idEstado, null, new { @class = "help-block" })
</div>

<div class="col-md-4">
    @Html.LabelFor(e => e.DDD, new { @class = "form-label" })
    @(disabled ?
        @Html.TextBoxFor(model => model.DDD, new { @class = "form-control", @disabled = "disabled" }) :
        @Html.TextBoxFor(model => model.DDD, new { @class = "form-control number", @placeholder = "" })
        )
    @Html.ValidationMessageFor(model => model.DDD, null, new { @class = "help-block" })
</div>

<!-- ESTADOS -->
<div class="modal fade" tabindex="-1" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="txtTituloModal">Lista Estados</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body SelecionaEstado" style="display: none">
                <partial name="~/Views/Shared/Estados/SelecionaEstado.cshtml"></partial>
            </div>
            <div class="modal-footer SelecionaEstado" style="display: none">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnFecharModal">Fechar</button>
                <button type="button" class="btn btn-default" id="btnMostrarAddEstado">Adicionar Estado</button>
            </div>


            <div class="modal-body AddEstados" style="display: none"> 
                <partial name="~/Views/Shared/Estados/AddEstados.cshtml"></partial>
            </div>
            <div class="modal-footer AddEstados" style="display: none">
                <button type="button" class="btn btn-secondary" id="btnEscondeAddEstado">Fechar</button>
                <button type="button" class="btn btn-success" id="btnSalvarAddEstado">Salvar</button>
            </div>


             <div class="modal-body SelecionaPais" style="display: none">
                <partial name="~/Views/Shared/Paises/SelecionaPais.cshtml"></partial>
            </div>
            <div class="modal-footer SelecionaPais" style="display: none">
                <button type="button" class="btn btn-secondary" id="bntEscondeSelecionaPais">Fechar</button>
                <button type="button" class="btn btn-default" id="btnAddPais">Adicionar País</button>
            </div>


            <div class="modal-body AddPais" style="display: none">
                <partial name="~/Views/Shared/Paises/AddPaises.cshtml"></partial>
            </div>
            <div class="modal-footer AddPais" style="display: none">
                <button type="button" class="btn btn-secondary" id="btnEscondeAddPais">Fechar</button>
                <button type="button" class="btn btn-success" id="btnSalvarAddPais">Salvar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}