@model IEnumerable<Sistema.Models.Fornecedores>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p style="text-align: right">
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nmFornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nmFantasia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrCNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrTelefoneCelular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idCidade)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nmFornecedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nmFantasia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nrCNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nrTelefoneCelular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idCidade)
            </td>
                <td style="text-align: right; width: 200px">
                <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id">Visualizar</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
