@model IEnumerable<Sistema.Models.Vendas>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<p style="text-align: right">
    <a asp-action="Create">Adicionar</a>
</p>
<table id="tbVenda" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrModelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flSituacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dtVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nmCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nrModelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.flSituacao)
                </td>               
                <td style="text-align: center; width: 200px">
                    <a asp-action="Edit" asp-route-id="@item"><i class="btn btn-warning btn-sm fa fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item"><i class="btn btn-success btn-sm fa fa-eye"></i></a>
                    <a asp-action="Delete" asp-route-id="@item"><i class="btn btn-danger btn-sm fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/js/Scripts/Vendas/Index.js")"></script>
}