@model Sistema.Models.Funcionarios

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Funcionarios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nmFuncionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nmFuncionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsApelido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsApelido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nrCPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nrCPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nrRG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nrRG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dtNasc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtNasc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nrTelefoneCelular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nrTelefoneCelular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nrTelefoneFixo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nrTelefoneFixo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.flTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.flTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nrCEP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nrCEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsLogradouro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsLogradouro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nrEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nrEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsBairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsBairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsComplemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsComplemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idCidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dtCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dtUltAlteracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtUltAlteracao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
