@model IEnumerable<Sistema.Models.Funcionarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nmFuncionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dsApelido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrCPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrTelefoneCelular)
            </th>           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nmFuncionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dsApelido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nrCPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nrTelefoneCelular)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id">Visualizar</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
