@model IEnumerable<Sistema.Models.Funcionarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p style="text-align: right">
    <a asp-action="Create">Adicionar</a>
</p>
<table id="tbFuncionario" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nmFuncionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dsApelido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrCPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrTelefoneCelular)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nmFuncionario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dsApelido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nrCPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nrTelefoneCelular)
                </td>
                <td style="text-align: center; width: 200px">
                    <a asp-action="Edit" asp-route-id="@item.id"><i class="btn btn-warning btn-sm fa fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.id"><i class="btn btn-success btn-sm fa fa-eye"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.id"><i class="btn btn-danger btn-sm fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/js/Scripts/Funcionarios/Index.js")"></script>
}