@model Sistema.Models.Produtos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produtos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.flUnidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.flUnidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cdNCM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cdNCM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cdCFOP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cdCFOP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.qtdEstoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.qtdEstoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vlCusto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vlCusto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vlVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vlVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.observacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.observacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dtCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dtUltAlteracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtUltAlteracao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idProduto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
