@model IEnumerable<Sistema.Models.Produtos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p style="text-align: right; width: 100%">
    <a asp-action="Create">Adicionar</a>
</p>
<table id="tbProduto" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dsProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idUnidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cdNCM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vlVenda)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.dsProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nmCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dsUnidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cdNCM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vlVenda)
                </td>
                <td style="text-align: center; width: 200px">
                    <a asp-action="Edit" asp-route-id="@item.idProduto"><i class="btn btn-warning btn-sm fa fa-edit"> </i></a>
                    <a asp-action="Details" asp-route-id="@item.idProduto"><i class="btn btn-success btn-sm fa fa-eye"> </i></a>
                    <a asp-action="Delete" asp-route-id="@item.idProduto"><i class="btn btn-danger btn-sm fa fa-trash"> </i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/js/Scripts/Produtos/Index.js")"></script>
}