@model IEnumerable<Sistema.Models.Produtos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dsProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idUnidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cdNCM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vlVenda)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dsProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cdNCM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vlVenda)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idProduto">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.idProduto">Visualizar</a> |
                <a asp-action="Delete" asp-route-id="@item.idProduto">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
