@model Sistema.Models.Vendas

@{
    var disabled = Convert.ToBoolean(ViewBag.disabledForm);
    var pageType = Convert.ToString(ViewBag.pageType);
}

@if (pageType != "Create")
{
    <div class="row g-3">
        <div class="col-md-3">
            @Html.LabelFor(e => e.idVenda, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.idVenda, new { @class = "form-control", autofocus = "autofocus", @readonly = "readonly", @style = "background-color: #e9ecef" })
        </div>

        <div class="col-md-3">
            @Html.LabelFor(e => e.flSituacao, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.flSituacao, new { @class = "form-control", autofocus = "autofocus", disabled = "disabled" })
        </div>

        <div class="col-md-3">
            @Html.LabelFor(e => e.dtVenda, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.dtVenda, new { @class = "form-control", autofocus = "autofocus", disabled = "disabled" })
        </div>
    </div>
}

<div class="row g-3">
    <div class="col-md-5">
        @Html.LabelFor(e => e.idFuncionario, new { @class = "form-label" })
        <div class="input-group mb-3">
            @(disabled ?
                @Html.TextBoxFor(model => model.idFuncionario, new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled" }) :
                @Html.DropDownListFor(model => model.idFuncionario, Model.ListFuncionarios, new { @class = "form-control" })
                )
            @if (pageType == "Create" || pageType == "Edit")
            {
                <button class="btn btn-outline-secondary" id="btnAbreModalFuncionario" type="button" data-bs-toggle="modal" data-bs-target="#modalFuncionario"><i class="fas fa-search"></i></button>
            }
        </div>
        @Html.ValidationMessageFor(model => model.idFuncionario, null, new { @class = "help-block" })
    </div>

    <div class="col-md-5">
        @Html.LabelFor(e => e.idCliente, new { @class = "form-label" })
        <div class="input-group mb-3">
            @(disabled ?
                @Html.TextBoxFor(model => model.idCliente, new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled" }) :
                @Html.DropDownListFor(model => model.idCliente, Model.ListClientes, new { @class = "form-control" })
                )
            @if (pageType == "Create" || pageType == "Edit")
            {
                <button class="btn btn-outline-secondary" id="btnAbreModalClientes" type="button" data-bs-toggle="modal" data-bs-target="#modalClientes"><i class="fas fa-search"></i></button>
            }
        </div>
        @Html.ValidationMessageFor(model => model.idCliente, null, new { @class = "help-block" })
    </div>
</div>

<br />
<hr />
<br />

<div class="row g-3 Corpo">    
    <div class="bs-callout bs-callout-primary row g-3">
        @if (pageType == "Create" || pageType == "Edit")
        {
            <button class="btn btn-primary" disabled="@disabled" type="button" id="btnAdcProdutos" data-bs-toggle="modal" data-bs-target="#modalProdutos">Adicionar Produto</button>
        }

        @Html.HiddenFor(model => model.jsProdutos)
        <table id="listaVenda" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>idProduto</th>
                    <th width="40%">Produto</th>
                    <th>idUnidade</th>
                    <th width="10%">Unidade</th>
                    <th width="10%">Quant</th>
                    <th width="10%">Vl. Venda</th>
                    <th width="10%">Desconto</th>
                    <th width="10%">Total</th>
                    <th width="5%"></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td id="ftp" colspan="8" style="text-align:right"></td>
                </tr>
            </tfoot>
        </table>
        @Html.Hidden("qtdEstoque")
        @Html.Hidden("idUnidade")
        @Html.Hidden("dsUnidade")
    </div>
</div>

<div class="row g-3 divfinalizar" style="display: none">
    <div class="col-md-3">
        @Html.HiddenFor(model => model.vlTotal)
    </div>

    <br />
    <hr />
    <br />

    <div class="col-md-3">
        @Html.LabelFor(e => e.idCondicaoPgto, new { @class = "form-label" })
        @Html.HiddenFor(e => e.idCondicaoPgto)
        @Html.Hidden("txJuros")
        @Html.Hidden("txMulta")
        @Html.Hidden("txDesconto")
        @Html.TextBoxFor(model => model.dsCondicaoPgto, new { @class = "form-control", autofocus = "autofocus", @readonly = true })
    </div>

    @if (pageType == "Create" || pageType == "Edit")
    {
        <button class="btn btn-primary" disabled="disabled" type="button" id="btnGeraParcelas">Gerar Parcelas</button>
    }

    <div id="divParcelas">
        @Html.HiddenFor(model => model.jsParcelas)
        <table id="tbParcelas" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th width="10%">Nº parcela</th>
                    <th width="15%">Valor Parcela</th>
                    <th width="10%">Vencimento</th>
                    <th></th>
                    <th width="55%">Forma de pagamento</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalProdutos">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="txtTituloModal">Produtos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body addProduto">
                <div class="row g-3">
                    <div class="col-md-6">
                        @Html.Label("dsProduto", "Produto", new { @class = "form-label" })
                        <div class="input-group mb-3">
                            @(disabled ?
                                Html.TextBox("idProduto", new { @class = "form-control", @disabled = "disabled" }) :
                                @Html.DropDownList("idProduto", Model.ListProdutos, new { @class = "form-control" })
                                )
                            @if (disabled)
                            {
                                <button class="btn btn-outline-secondary" type="button" id="btnMostraSelecionarProdutos" disabled="disabled"><i class="fas fa-search"></i></button>
                            }
                            else
                            {
                                <button class="btn btn-outline-secondary" type="button" id="btnMostraSelecionarProdutos"><i class="fas fa-search"></i></button>
                            }
                        </div>
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Produto_qtdProduto, new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.Produto_qtdProduto, new { @class = "form-control", @style = "text-align: right" })
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Produto_vlVenda, new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.Produto_vlVenda, new { @class = "form-control", @style = "text-align: right; background-color: #e9ecef", @readonly = "readonly" })
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Produto_txDesconto, new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.Produto_txDesconto, new { @class = "form-control", @style = "text-align: right" })
                    </div>
                </div>
            </div>

            <div class="modal-footer addProduto">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnFechaProd">Fechar</button>
                <button type="button" class="btn btn-success" id="btnConfirmaProd">Salvar</button>
            </div>

            <div class="modal-body SelecionaProduto" style="display: none">
                <partial name="~/Views/Shared/Produtos/SelecionaProduto.cshtml"></partial>
            </div>
            <div class="modal-footer SelecionaProduto" style="display: none">
                <button type="button" class="btn btn-secondary" id="btnFechaSelecProd">Fechar</button>
                <button type="button" class="btn btn-success" id="btnSelecionaProd">Selecionar</button>
            </div>
        </div>
    </div>
</div>

<!-- FUNCIONARIOS -->
<div class="modal fade" tabindex="-1" id="modalFuncionario">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Selecionar Funcionario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- SELECIONAR -->
            <div class="modal-body SelecionaFuncionario" style="display: none">
                <partial name="~/Views/Shared/Funcionarios/SelecionaFuncionario.cshtml"></partial>
            </div>

            <div class="modal-footer SelecionaFuncionario" style="display: none">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnFecharModalFuncionario">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- CLIENTES -->
<div class="modal fade" tabindex="-1" id="modalCliente">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Selecionar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- SELECIONAR -->
            <div class="modal-body SelecionaCliente" style="display: none">
                <partial name="~/Views/Shared/Clientes/SelecionaCliente.cshtml"></partial>
            </div>

            <div class="modal-footer SelecionaCliente" style="display: none">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnFecharModalCliente">Fechar</button>
            </div>
        </div>
    </div>
</div>