@model Sistema.Models.Clientes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nmCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nmCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nrCPFCNPJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nrCPFCNPJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nrRG_IE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nrRG_IE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dtNasc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtNasc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nrTelefoneCelular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nrTelefoneCelular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nrTelefoneFixo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nrTelefoneFixo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.flTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.flTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nrCEP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nrCEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsLogradouro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsLogradouro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nrEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nrEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsBairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsBairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsComplemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsComplemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idCidade)
        </dd>        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
