@model IEnumerable<Sistema.Models.Clientes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nmCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dsApelido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrCPFCNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrRG_IE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtNasc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrTelefoneCelular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrTelefoneFixo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dsEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrCEP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dsLogradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrEndereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dsBairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dsComplemento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idCidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtUltAlteracao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nmCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dsApelido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nrCPFCNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nrRG_IE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtNasc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nrTelefoneCelular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nrTelefoneFixo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dsEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nrCEP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dsLogradouro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nrEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dsBairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dsComplemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idCidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtUltAlteracao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
